/* Makes the map fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2, h3 {
    margin: 0;
    padding: 10px;
}


/* Location form */
.locForm {
    display: none;
}

.locForm.active {
    display: block;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}

#mapContainer {
    position: fixed;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
}

/* Contains elements on left side of page */
#leftBar {
    position: fixed;
    top: 115px;
    left: 0;
}

/* Contains elements on right side of page */
#rightBar {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

/* Hunt and location forms */
#huntForm {
    font-family: Roboto, Arial, sans-serif;
    border-bottom: solid 1px #EEEEEE;
}

#locFormCon {
    /*box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;*/
    font-family: Roboto, Arial, sans-serif;
    border-bottom: solid 1px #EEEEEE;
}
#locFormCon label, #huntForm label {
    display: inline-block;
    width: 85px;
    margin: 10px;
}
#locFormCon input, #huntForm > input {
    margin: 10px;
}

#butCon {
    text-align: right;
}

/* Help circle */
#help {
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    margin: 10px 10px 10px 10px;
    padding: 3px 13px;
    font-size: 20pt;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
}
#help:hover {
    background-color: #EEEEEE;
}
#helpPopup {
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    margin: 11px;
    padding: 3px 13px;
    font-size: 12pt;
    font-family: Roboto, Arial, sans-serif;
    display: none;
    position: absolute;
    width: 290px;
}
#help:hover > #helpPopup {
    display: block;
}

#finishButton.active {
    display: inline-block;
}

#addEndButton, #finishButton {
    background-color: #0ECC86;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    font-family: Roboto, Arial, sans-serif;
    padding: 7px 15px;
    margin: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

#addEndButton {
    display: inline-block;
}

#finishButton {
    display: none;
}

#finishButton:hover,  #addEndButton:hover{
    background-color: #28b37e;
}

.navbar {
    margin-bottom: 0 !important;
    z-index: 10;
}

/*
Full screen dialog
#fsDialog {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#fsDialog.active {
    display: table;
}

#fsDialog > div {
    display: table-cell;
    vertical-align: middle;
}

#fsDialog > div > div {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-family: Roboto, Arial, sans-serif;
}

#fsDialog > div > div > button {
    margin: 10px 0;
}

#fsDialog > div > div > p {
    margin: 0;
    padding: 10px;
}
*/